.header {
    display: flex;
    align-items: center;
  }
.header img{
    margin-right: 10px; 
  }
  
.header h2{
    font-size: 20px;
    color: #007bff;
  }
.header{
    display: flex;
    flex-direction: column;
}