main {
  background-image: linear-gradient(to right, rgb(67, 140, 185), rgb(59, 141, 59));
  margin: 50px;
  padding: 20px;
margin: auto;}

.titre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titre h1 {
  color: purple;
  font-weight: bolder;
  margin-bottom: 0px;
}

.titre h3 {
  margin-top: 0;
}

.section1 {
  width: 300px;
  border-radius: 10px;
  background-color: white;
  height: 410px;
  padding: 15px;
  margin-top: 20px;
}

.section1 ul {
  list-style: none;
  padding-left: 0;
}

.section1 #div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section1 img {
  margin-top: 10px;
}

.section2 {
  width: 700px;
  border-radius: 10px;
  background-color: white;
  height: 350px;
  padding: 15px;
  margin-top: 20px;
}

#div2 {
  display: flex;
  align-items: center;
}

table {
  width: 100%;
  border: 1px solid rgb(184, 178, 178);
  margin-top: 20px;
  border-collapse: collapse;
}

th,td {
  padding: 10px;
  text-align: left;
}

th {
  text-align: left;
  font-weight: bold;
}

.center {
  width: 20px;
  text-align: center;
  vertical-align: middle;
}

.section3 {
  background-color: white;
  width: 690px;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
}

.partie1 {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  justify-content: center;
}
#partie2{
margin-left: 50px;
}
.section3 p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

section img {
  margin-top: 10px;
}
.div1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row; 
  background-color: #f8f9fa; 
  border: 1px solid #ddd; 
}
.header {
  display: flex;
  align-items: center;
}
.header img{
  margin-right: 10px; 
}

.header h2{
  font-size: 20px;
  color: black;
}
.header{
  display: flex;
  flex-direction: column;
}
.navigation ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation li {
  margin: 0 10px;
}
.navigation a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}
.navigation a:hover {
  text-decoration: underline;
}
footer p{
  text-align: center;    
  font-style: italic;
  margin-top: 0;
}